<!DOCTYPE html>
<html>
<head>
    <title>Pharmacy Login</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<h2>Pharmacy Login</h2>

<form action="/pharmacy/login" method="post">
    <label>Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>
    <p style="color:red" th:text="${error}"></p>    
    <div class="container">
    <!-- existing form here -->
</div>

</body>
</html>
